<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Gabs">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Gabs, Personal Website, Projects, Github, Gitlab, Web">
    <meta name="author" content="GabsEdits">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="https://gabs.eu.org">
    <link rel="icon" href="icons/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
    <link rel="me" href="https://fosstodon.org/@gabs">
    <link rel="manifest" href="icons/site.webmanifest">
    <link rel="stylesheet" href="style.css">
    <title>gabs</title>
  </head>  
<body>

  <div class="curzr" hidden>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
      <path class="inner" d="M25,30a5.82,5.82,0,0,1-1.09-.17l-.2-.07-7.36-3.48a.72.72,0,0,0-.35-.08.78.78,0,0,0-.33.07L8.24,29.54a.66.66,0,0,1-.2.06,5.17,5.17,0,0,1-1,.15,3.6,3.6,0,0,1-3.29-5L12.68,4.2a3.59,3.59,0,0,1,6.58,0l9,20.74A3.6,3.6,0,0,1,25,30Z" fill="#F2F5F8" />
      <path class="outer" d="M16,3A2.59,2.59,0,0,1,18.34,4.6l9,20.74A2.59,2.59,0,0,1,25,29a5.42,5.42,0,0,1-.86-.15l-7.37-3.48a1.84,1.84,0,0,0-.77-.17,1.69,1.69,0,0,0-.73.16l-7.4,3.31a5.89,5.89,0,0,1-.79.12,2.59,2.59,0,0,1-2.37-3.62L13.6,4.6A2.58,2.58,0,0,1,16,3m0-2h0A4.58,4.58,0,0,0,11.76,3.8L2.84,24.33A4.58,4.58,0,0,0,7,30.75a6.08,6.08,0,0,0,1.21-.17,1.87,1.87,0,0,0,.4-.13L16,27.18l7.29,3.44a1.64,1.64,0,0,0,.39.14A6.37,6.37,0,0,0,25,31a4.59,4.59,0,0,0,4.21-6.41l-9-20.75A4.62,4.62,0,0,0,16,1Z" fill="#111920" />
    </svg>
  </div>

<!-- partial:index.partial.html -->
<div id="app">
  <div :class="['bg', bg]">
    <header>
      <nav>
        <ul>
          <li>
            <i class="fa-solid fa-house-blank"></i>
            <a class="link-bio" href="#bio" @click="bg = 'bio'" style="font-weight: 500;">About Me</a>
          </li>
          <li><a class="link-projects" href="#projects" @click="bg = 'projects'" style="font-weight: 500;">Projects <!--Work--></a></li>
          <li><a class="link-find-me" href="#findme" @click="bg = 'find-me'" style="font-weight: 500;">Find me</a></li>
        </ul>
      </nav>
      <div class="transition transition-bio"></div>
      <div class="transition transition-projects"></div>
      <div class="transition transition-find-me"></div>
      <h1>gabs</h1>
    </header>
    <div class="dots dots1"></div>
    <div class="dots dots2"></div>
    <main>
      <transition name="slide-fade" mode="out-in">
          <p key="bio" v-if="bg==='bio'" class="about-text">Salut! I'm a human person, but also a designer and developer with a passion for creating beautiful and intuitive experiences. Check out my open-source projects on <a href="https://github.com/GabsEdits" rel="noopener" target="_blank">Github</a> and who knows, maybe in the future, I'll add some to <a href="https://gitlab.com/gxbs" rel="noopener" target="_blank">Gitlab</a> too. <br><br>In my free time, enjoy exploring new technologies and learning new skills to make a positive impact on the world through my work :D</p>
          <p key="projects" v-if="bg === 'projects'" style="text-align: center;">
            This page showcases a collection of my professional work, projects and contributions:
              <br><br> 
              <span style="display: block; text-align: left;">
                <strong style="font-weight: bold;">&bull; VirtualHub:</strong><br><sup>Install old hardware. <br class="mobile-only"> <a href="https://github.com/InstallerLegacy" rel="noopener" target="_blank">View on GitHub</a></sup>
              </span>
              <span style="display: block; text-align: left;">
                <strong style="font-weight: bold;">&bull; gabs.eu.org:</strong><br><sup>My personal website. <br class="mobile-only"> <a href="https://github.com/GabsEdits/gabsedits.github.io" rel="noopener" target="_blank">View on GitHub</a></sup>
              </span>
              <span style="display: block; text-align: left;">
                <strong style="font-weight: bold;">&bull; Website Concept:</strong><br><sup>Old concept of my website. <br class="mobile-only"> <a href="https://github.com/GabsEdits/website-concept" rel="noopener" target="_blank">View on GitHub</a></sup>
              </span>
              <span style="display: block; text-align: left;">
                <strong style="font-weight: bold;">&bull; Deb GNOME:</strong><br><sup>A script for Debian GNOME. <br class="mobile-only"> <a href="https://github.com/GabsEdits/deb-gnome" rel="noopener" target="_blank">View on GitHub</a></sup>
              </span>
              <span style="display: block; text-align: left;">
                <strong style="font-weight: bold;">&bull; Password Generator:</strong><br><sup>A password generator. <br class="mobile-only"> <a href="https://github.com/GabsEdits/password" rel="noopener" target="_blank">View on GitHub</a></sup>
              </span>
              <span style="display: block; text-align: left;">
                <strong style="font-weight: bold;">&bull; Ubu:</strong><br><sup>A custom script for Ubuntu. <br class="mobile-only"> <a href="https://github.com/GabsEdits/ubu" rel="noopener" target="_blank">View on GitHub</a></sup>
              </span>
              <span style="display: block; text-align: left;">
                <strong style="font-weight: bold;">&bull; Deb:</strong><br><sup>A custom script for Debian. <br class="mobile-only"> <a href="https://github.com/GabsEdits/deb" rel="noopener" target="_blank">View on GitHub</a></sup>
              </span>
              <span style="display: block; text-align: left;">
                <strong style="font-weight: bold;">&bull; Sticky Notes:</strong><br><sup>Sticky notes app for GNOME. <br class="mobile-only"> <a href="https://github.com/vixalien/sticky" rel="noopener" target="_blank">View on GitHub</a></sup>
              </span>
              <span style="display: block; text-align: left;">
                <strong style="font-weight: bold;">&bull; Vanilla OS:</strong><br><sup>An immutable Linux distro. <br class="mobile-only"> <a href="https://github.com/Vanilla-OS" rel="noopener" target="_blank">View on GitHub</a></sup>
              </span>
              <span style="display: block; text-align: left;">
                <strong style="font-weight: bold;">&bull; Fed:</strong><br><sup>A Custom script for Fedora. <br class="mobile-only"> <a href="https://github.com/GabsEdits/fed" rel="noopener" target="_blank">View on GitHub</a></sup>
              </span>
              <span style="display: block; text-align: left;">
                <strong style="font-weight: bold;">&bull; Timer:</strong><br><sup>A Simple Timer for GNOME. <br class="mobile-only"> <a href="https://github.com/Vanilla-OS" rel="noopener" target="_blank">View on GitHub</a></sup>
              </span>
              <span style="display: block; text-align: left;">
                <strong style="font-weight: bold;">&bull; Extension Manager:</strong><br><sup>Manage GNOME Extensions. <br class="mobile-only"> <a href="https://github.com/Vanilla-OS" rel="noopener" target="_blank">View on GitHub</a></sup>
              </span>
          </p>
          <p key="find-me" v-if="bg==='find-me'">
              Here, where I live it's currently <span id="chisinau-time"></span>. You can reach me at:
              <span style="display: block; text-align: left;">&bull; Discord: <a href=" https://discord.com/users/841649648606249021" target="_blank" rel="noopener" class="social-media">@GabsEdits</a></span>
              <span style="display: block; text-align: left;">&bull; Twitter: <a href="https://twitter.com/GabsSimply" target="_blank" rel="noopener" class="social-media">/GabsSimply</a></span>
              <span style="display: block; text-align: left;">&bull; Mastodon: <a href="https://fosstodon.org/@gabs" target="_blank" rel="noopener" class="social-media">@gabs</a></span>
              <span style="display: block; text-align: left;">&bull; Telegram: <a href="https://t.me/gabsedits" target="_blank" rel="noopener" class="social-media">/gabsedits</a></span>
              <span style="display: block; text-align: left;">&bull; Email: <a href="#" onclick="location.href='mailto:'+String.fromCharCode(109,101,64,103,97,98,115,46,101,117,46,111,114,103)" class="social-media"><script type="text/javascript">document.write(String.fromCharCode(109,101,64,103,97,98,115,46,101,117,46,111,114,103))</script></a></span>
              Feel free to message me on any of these platforms - I'd love to hear from you!
          </p>
      </transition>
    </main>
  </div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script>
  <script  src="./script.js"></script>

</body>
</html>
