@import url('https://fonts.bunny.net/css?family=abril-fatface:400|zilla-slab:400,500,600,700,800,800,900');
/* Arhive */
 /*
   Old Colors
    --licorice: #220f0f;
    --lavender-blush: #F9E8E7;
    --burnt-sienna: #bb2528;
    --border-width: .75rem;
    --dots-gap: 10px;
    
   Older Colors:
    --licorice: #231f20;
    --lavender-blush: #e8e4d2;
    --dark-peach: #EE6C4D;
 */

:root {
  --licorice: #191515;
  --lavender-blush: #FFF1F3;
  --burnt-sienna: #F17755;
  --border-width: 0.8rem;
  --dots-gap: 20px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Zilla Slab', serif;
  line-height: 1.25;
  color: var(--lavender-blush);
}

a {
  color: inherit;
}

.bg {
  background: inherit;
  min-height: 100vh;
  padding: 25vh 0 1.5rem;
  transition: background 0s 1s, color 0.6s;
}

.projects {
  color: var(--licorice);
}

.bg:after {
  content: "";
  border: var(--border-width) solid;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 12;
  pointer-events: none;
  transition: 1s;
}

/* Tabs */
.bio,
.link-bio {
  background: var(--licorice);
  border-radius: 0 0 0 10px;
}

.bio h1 {
  background-color: var(--burnt-sienna);
}

.projects,
.link-projects {
  background: var(--lavender-blush);
}

.find-me,
.link-find-me {
  background: var(--burnt-sienna);
  border-radius: 0 0 10px 0;
  color: #191515;
}

/* Transitions */
.transition {
  width: 1rem;
  height: 1rem;
  top: 0;
  display: block;
  position: absolute;
  opacity: 0;
  transition: transform 0.5s ease;
  width: 100%;
  height: 100vh;
  transform: scale(0.1);
  transform-origin: 0 0;
  will-change: transform, opacity;
}

.transition-bio {
  left: 0;
  background: var(--licorice);
}

.transition-projects {
  left: 7.5rem;
  background: var(--lavender-blush);
}

.transition-find-me {
  left: 15rem;
  background: var(--burnt-sienna);
}

.bio .transition-bio,
.projects .transition-projects,
.find-me .transition-find-me {
  opacity: 1;
  will-change: transform;
}

.bio .transition-bio {
  transform: scale(1);
}

.projects .transition-projects {
  transform: scale(1) translateX(-7.5rem);
}

.find-me .transition-find-me {
  transform: scale(1) translateX(-15rem);
}

/* Dots */
.dots:before,
.dots:after {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  opacity: 0.5;
  z-index: 11;
  background-image: linear-gradient(var(--burnt-sienna) 20%, transparent 0);
  background-size: 100% var(--dots-gap);
  background-position: 0 0;
  animation: movebg 0.2s linear infinite;
  will-change: transform;
  width: 2.5px;
}

.dots1:before {
  left: 5%;
}

.dots1:after {
  left: 15%;
}

.dots2:before {
  right: 75%;
}

.dots2:after {
  right: 5%;
}

.dots:after {
  animation-direction: reverse;
}

.projects .dots:before,
.projects .dots:after {
  background-image: linear-gradient(var(--licorice) 20%, transparent 0);
}

.find-me .dots:before,
.find-me .dots:after {
  background-image: linear-gradient(var(--lavender-blush) 20%, transparent 0);
}

/* Moving stuff */
@keyframes movebg {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, var(--dots-gap), 0);
  }
}

/* Style for the Title and Navigations */
h1 {
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  margin: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000), color-stop(0.5, #000), color-stop(1, transparent));
  background-clip: text;
  mask-image: linear-gradient(to bottom, #000 0%, #000 50%, transparent 100%);
  transition: background-position 1s, background-color 1s;
  text-align: center;
  font-size: calc(28vw + 1rem);
  font-weight: 500;
  line-height: 1;
  background-image: url("/media/back1.png"), url("media/back2.png"), url("media/back3.png");
  background-size: 35vw auto, 25vw auto, 20vw auto;
  background-repeat: repeat-x;
  background-position: 0px 15%, 200px 25%, -50px 2vw;
}

.projects h1 {
  background-color: var(--burnt-sienna);
  background-position: -120px 15%, 230px 20%, -100px 3vw;
}

.find-me h1 {
  background-color: var(--lavender-blush);
  background-position: -240px 15%, 260px 25%, -150px 1vw;
}

nav {
  position: fixed;
  top: var(--border-width);
  left: var(--border-width);
  z-index: 10;
}

nav ul {
  list-style: none;
  display: flex;
  text-align: center;
  margin: 0;
  padding: 0;
}

nav li {
  flex: 1 0 7.5rem;
}

nav a {
  display: block;
  padding: 0.75rem 0 0.5rem;
  color: var(--lavender-blush);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
}

nav .link-projects {
  color: var(--licorice);
}

main {
  position: relative;
  max-width: 36rem;
  padding: 0 1.5rem;
  margin: -3rem auto 0;
  font-size: 2rem;
}

.slide-fade-enter-active {
  transition: all 0.5s ease;
  opacity: 1;
  height: auto;
}

.slide-fade-leave-active {
  transition: all 0.2s;
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateY(2rem);
  opacity: 0;
  height: 100%;
}

a:hover {
  cursor: none;
}

/* Links */
.social-media {
  text-decoration: none;
}

.social-media:hover {
  text-decoration: underline;
}

.mobile-only {
  display: none;
}

/* Mobile */
@media screen and (max-width: 600px) {
  nav ul {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    align-items: center !important;
    display: flex !important;
    justify-content: center !important;
    position: fixed !important;
    width: 93.8%;
  }
  nav li {
    flex-basis: 50% !important;
    text-align: center !important;
  }
  .bio,
  .link-bio {
    background: var(--licorice);
    border-radius: 10px 0 0 0;
  }

  .projects,
  .link-projects {
    background: var(--lavender-blush);
    border-radius: 0 10px 0 0;
  }

  .find-me,
  .link-find-me {
    background: var(--burnt-sienna);
    border-radius: 0 0 10px 10px;
    color: #191515;
  }

  h1 {
    margin-bottom: 40px;
    font-size: 150px;
    font-weight: 500;
  }
    
  p {
    font-size: 25px;
    padding: 0 10px;
  }

  .mobile-only {
    display: block;
  }
}

.about-text {
  text-align: left !important;
}

@keyframes gradient-animation {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

.transition::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: gradient-animation 5s ease infinite;
  background-size: 400% 400%;
}

.curzr {
  box-sizing: border-box;
  position: fixed;
  top: 0px;
  left: -9.4px;
  z-index: 2147483647;
  width: 18.8px;
  height: 18.8px;
  transition: 100ms, transform 1ms;
  user-select: none;
  pointer-events: none;
}

.shining-effect {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.shining-effect::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width:  100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), transparent);
  transform: skewX(-20deg);
  animation: shining 3s linear infinite;
}

@keyframes shining {
  0% {
    left: -100%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}